<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .container {
            display: flex;
        }
        .home-btn {
            line-height: 200px;
            margin: 200px auto;
            width: 200px;
            height: 200px;
            background-color: whitesmoke;
            text-align: center;
            vertical-align: middle;
        }
        a {
            font-size: 40px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="home-btn">
        <a href="/dis13">DIS13</a>
    </div>
    <div class="home-btn">
        <a href="/reg13">REG13</a>
    </div>
</div>
</body>
</html>